.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 15px 30px;
    background-color: #1a1a1a;
    border-bottom: 3px solid#A1E3D8;
    margin-bottom: 20px;

}

.nav li a{
    text-decoration: none;
    color: #f1f1f1;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
    font-size: 14px;
    letter-spacing: 1px;
}

.search-bar input{
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    background-color: #2a2a2a;
    color: white;
    outline: none;
    border: 1px solid #333;
}

.nav a:hover {
    color:#A1E3D8;
}

